@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container body-content">
    <p>&nbsp;</p>
    <a href="/quartz" style="font-size: 24px;">Open Crystal Quartz Panel &rarr;</a>
</div>
